@theme {
  --breakpoint-md: 40em;
  --breakpoint-lg: 80em;

  --spacing-1-8: 0.125em;
  --spacing-1-4: 0.25em;
  --spacing-3-8: 0.375em;
  --spacing-1-3: 0.3333333333em;
  --spacing-1-2: 0.5em;
  --spacing-5-8: 0.625em;
  --spacing-2-3: 0.6666666666em;
  --spacing-3-4: 0.75em;
  --spacing-7-8: 0.875em;
  --spacing-1-1: 1em;
  --spacing-3-2: 1.5em;
  --spacing-2-1: 2em;
  --spacing-3-1: 3em;
  --spacing-4-1: 4em;
}

@plugin "daisyui/theme" {
  name: "lunchbox";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #efe7f3;
  --color-base-200: #d5ced9;
  --color-base-300: rgba(61, 54, 64, 0.3);
  --color-base-content: #3d3640;
  --color-primary: #00806a;
  --color-primary-content: #efe7f3;
  --color-secondary: #0f474d;
  --color-secondary-content: #efe7f3;
  --color-accent: #c8d9db;
  --color-accent-content: #3d3640;
  --color-neutral: #3d3640;
  --color-neutral-content: #efe7f3;
  --color-info: #1f84cc;
  --color-info-content: #efe7f3;
  --color-success: #12b362;
  --color-success-content: #3d3640;
  --color-warning: #cc5f29;
  --color-warning-content: #efe7f3;
  --color-error: #b31b34;
  --color-error-content: #efe7f3;

  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.25rem;

  --size-selector: 0.28125rem;
  --size-field: 0.21875rem;

  --border: 1px;

  --depth: 0;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: "supperbox";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: #241f26;
  --color-base-200: #3d3640;
  --color-base-300: rgba(238, 230, 242, 0.3);
  --color-base-content: #eee6f2;
  --color-primary: #d0fa7d;
  --color-primary-content: #241f26;
  --color-secondary: #12b362;
  --color-secondary-content: #241f26;
  --color-accent: #344747;
  --color-accent-content: #eee6f2;
  --color-neutral: #eee6f2;
  --color-neutral-content: #241f26;
  --color-info: #1f84cc;
  --color-info-content: #eee6f2;
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: #ffea80;
  --color-warning-content: #241f26;
  --color-error: #fc7ea8;
  --color-error-content: #241f26;
}

@layer components {
  .prose {
    max-width: 75ch;
    margin-top: var(--sp-1-1);

    a.anchor {
      background-color: var(--color-base-300);
      fill: var(--color-base-100);
      line-height: 0px;
      display: inline-block;
      position: relative;
      padding: var(--spacing-1-8);
      left: -8px;
    }

    a.anchor:hover {
      background-color: var(--color-primary);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: flex;
      align-items: center;
      margin-top: var(--spacing-2-1);
      scroll-margin-top: var(--spacing-3-1);
    }
  }

  .layout {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    margin-inline: var(--spacing-1-2);
    gap: var(--spacing-1-2);

    @media (min-width: 40em) {
      margin-inline: var(--spacing-1-1);
      gap: var(--spacing-1-1);
    }

    @media (min-width: 80em) {
      grid-template-columns: repeat(12, minmax(0, 1fr));
      margin-inline: 20%;
    }
  }
}
